In [4]:
import pandas as pd

### Задание 1
Скачайте с сайта grouplens.org...movielens/ датасет любого размера. Определите какому фильму было выставлено больше всего оценок 5.0.

In [41]:
rating = pd.read_csv('C://Users//Работяга//Обучение//Pandas//ml-latest-small//ml-latest-small//ratings.csv',skiprows=0)
films = pd.read_csv('C://Users//Работяга//Обучение//Pandas//ml-latest-small//ml-latest-small//movies.csv',skiprows=0)

In [138]:
rating=rating[rating.rating == 5.0] #определяем строки только с оценкой 5
a = rating['movieId'].value_counts().head(1)#находим фильм с наибольшим количеством строк - берем первую строку, получаем словарь
print(films[films.movieId == list(a.index)[0]]['title']) #выводим название - индекс словаря (кортеж) переводим в список и берем первый элемент

277    Shawshank Redemption, The (1994)
Name: title, dtype: object

### Задание 2
По данным файла power.csv посчитайте суммарное потребление стран Прибалтики (Латвия, Литва и Эстония) категорий 4, 12 и 21 за период с 2005 по 2010 года. Не учитывайте в расчетах отрицательные значения quantity.

In [198]:
country = pd.read_csv('C://Users//Работяга//Обучение//Pandas//10._Основы_pandas//power.csv',skiprows=0)

In [219]:
country_sum = sum(country[(country.year >= 2005) & (country.year <= 2010) & ((country.category == 4) \
                  | (country.category == 12) | (country.category == 21)) & (country.quantity > 0)]['quantity'])
print(country_sum)

5080225680.690798

### Задание 3
Выберите страницу любого сайта с табличными данными. Импортируйте таблицы в pandas dataframe.
Примеры страниц (необязательно брать именно эти):
https://fortrader.org/quotes
www.finanz.ru...om-vremeni

In [247]:
html1 = pd.read_html('https://fortrader.org/quotes')[2]
html2 = pd.read_html('https://www.finanz.ru/valyuty/v-realnom-vremeni',encoding='utf-8')[0]

In [248]:
html2

,0,1,2,3,4,5,6,7,8,9,10,11
0,ММВБ,3 597,"-2,1%",Nasdaq,14 894,"0,6%",Биткойн,42 738,"-0,9%",USD/RUB,761195,"-0,5%"
1,РТС,1 486,"-2,1%",S&P500,4 663,"0,1%",Нефть,862,"-0,3%",EUR/RUB,869620,"-0,2%"
2,Dow,35 912,"-0,6%",FTSE100,7 543,"-0,3%",Золото,1 819,"0,1%",EUR/USD,11419,"0,0%"

In [249]:
html1

                           Название   Цена  Изменение  Изменение(%)  Обновлено
0       Золото Цена золота на бирже  1 820       2.00          0.00        NaN
1  Серебро Цена на серебро на бирже  23.00       0.06          0.28        NaN
2         Палладий Цена на Палладий  1 870      -4.00         -0.00        NaN
3           Платина Цены на платину    970       4.00          0.00        NaN
4           Медь Цена меди на бирже   4.43      -0.01         -0.32        NaN